# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Identify commonly used libraries in Data Science
- Describe development environment open source tools
- Demonstrate examples of evaluating arithmetic expressions in Python
- Understand the ecosystem of Data Science tools

## Author
Maximo Costa Roman

Some of the popular languages that Data Scientists use are:
1. Julia
2. Java
3. Python
4. R
5. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow

| Data Science Tools           |
|------------------------------|
| Jupyter Notebook             |
| RStudio                      |
| Apache Zeppelin              |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [6]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [8]:
200/60

3.3333333333333335